/* debug */

/* #logo-container{
    height: 100px;
     background-color: #8801FE;
} */

/* .nav {
    height: 100px;
    background-color: #E579E6;
} */
/* .hero {
    background-color: #E1D67A;
} */
main {
    background-color: #0087FF;
}
aside,
.center {
    height: 540px;
    background-color: #ABCFE7;
}
footer {
    height: 60px;
    background-color: #8801FE;
}
/* common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
body {
    font-family: 'Montserrat', sans-serif;;
}
h1{
    font-size: 37px;
    font-weight: 800;
}
p{
    font-size: 16px;
}
/*start*/
.list-inline > li {
    list-style: none;
    display: inline-block;
    padding: 16px 8px 16px 0;
}
.list-inline a {
    font-size: 18px;
    color: #939393;
    text-decoration: none;
    text-transform: uppercase;
}
.list-inline a:hover{
    color: rgb(0, 0, 0);
}
.container {
    width: 70%;
    margin: auto;
}
#logo-container img {
    max-height: 70px;
}
.nav {
    margin: 30px 0;
}
.hero {
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 500px;
    margin-bottom: 30px;
    border-radius: 15px;
}
.hero-layer {
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    position: relative;
    border-radius: 15px;
}
.txt-container h2 {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 8px;
}
.txt-container p {
    font-size: 18px;
    color: #ffffff;
}
.txt-container {
    max-width: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 68px 48px;
}
main {
    padding-bottom: 20px;
}
.bar {
    height: 85px; /*debug*/
    margin-bottom: 20px ;
}
.bar .p-gray{
    color: #939393;
}
.float-l {
    float: left;
}
.img-lft{
    
}
.lft {
    width: 25%;
}   
.center {
    width: calc(50% - 40px);
    margin: 0 20px;
}
.rgt{
    width: 25%;
}
footer {
    margin-top: 10px;
}
